.recipe-carousel{
    width: 100%;
    height: 360px;
    background-color: #3282B8;
    overflow: auto;
    white-space:nowrap;
    margin: 10px;
    border: 3px solid #0F4C75;
}
.recipe-carousel .recipe-card{
    display: inline-block;
    margin: 10px;
}
.recipe-card-details{
    height: 350px;
    width: 200x;
}
.find-new-recipes-container{
    display: flex;
    flex-wrap: wrap;
}
.search-recipes{
    width: 25%;
    margin: 25px;
    padding: 10px;
    align-content: center;
}
.random-recipe{
    width: 25%;
    margin: 25px;
    padding: 10px;
    align-content: center;
}
.user-recipes{
    width: 25%;
    margin: 25px;
    padding: 10px;
    align-content: center;  
}
.BUTTON{
    background-color: #769FCD ;
}
.find-new{
    text-align: center;
}

