.recipe-details-page{
    text-align: center;
    align-content: center;
    border: 25px solid #3282B8;
    margin:auto;
}
.video-frame{
    border: 10px solid #3282B8;
    margin: 10px;
}
.recipe-description{
    border: 10px solid #3282B8;
    padding: 5px;
    margin: 10px;
    align-content: center;
    width: 75%;
}
.nutrition-list{
    width:200px;
    border: 10px solid #3282B8;
    padding: 5px;
    margin: 10px;
    align-content: center;
    list-style: none;
}
.ingredients-list{
    border: 10px solid #3282B8;
    padding: 5px;
    margin: 10px;
    list-style: none;
    width: 75%;
}
.instruction-table{
    border: 10px solid #3282B8;
    padding: 5px;
    margin: 10px;
    width: 75%;
}
.credit-ul{
    text-align: center;
    border: 10px solid #3282B8;
    margin: 10px;
    list-style: none;
    width: 300px;
}
.prep-time-servings{
    text-align:center;
    border: 10px solid #3282B8;
    margin: 10px;
    list-style: none;
    width: 300px;
}
.nutrition-list-inside{
    text-align: center;
}